<h1>Tracks</h1>

<table>
  <tr>
    <td>Title</td>
    <td>Description</td>
    <td>Tag</td>
    <td>Originator</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.title %></td>
    <td><%= track.description %></td>
    <td><%= track.tag %></td>
    <td><%= link_to 'Originator' %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track', new_track_path %>
