<% provide :title, "#{@user.jam_name}'s Profile" %>

<table class="table">
  <tr><td><b>Jam Name:</b></td><td><%= @user.jam_name %></td>
    <td><%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %></td>
  </tr>
  <tr>
    <td><b>Email:</b></td><td><%= @user.email %></td>
    <td><%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %></td>
  </tr>
  <tr><td><b>Member Since:</b></td><td><%= @user.created_at.localtime.strftime("%x") %></td></tr>
</table>

<h3><%= "#{@user.jam_name}'s Songs" %></h3>

<table class="table">
  <tr>
    <td>Title</td>
    <td>Originator</td>
    <td>Description</td>
  </tr>
  <% @user.songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song.id) %></td>
      <td><%= link_to "#{song.users.first.jam_name}", user_path(song.users.first.id) %></td>
      <td><%= song.description %></td>
      <% if current_user.id == @user.id %>
        <td><%= link_to 'Edit', edit_song_path(song), :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', song, :class => 'btn btn-primary', :method => :delete, :data => { :confirm => 'Are you sure?' }  %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @user == current_user %>
  <%= link_to 'Add Song', new_song_path, :class => 'btn btn-primary' %>
<% end %>
