<!DOCTYPE html>
<head>
  <title>JamHub | <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
    <% end %>
    <div style="text-align:right;padding:10px">
      <% if current_user %>
        Logged in as <b><%= current_user.jam_name %></b>.
        <%= link_to "My Profile", user_path(current_user.id), method: "get", :class => 'btn btn-primary' %>
        <%= link_to "Log Out", logout_path, method: "delete", :class => 'btn btn-primary' %>
        <%= link_to "Edit Account", edit_user_path(current_user.id), method: "get", :class => 'btn btn-primary' %>
      <% else %>
        You are not logged in. To get started:
        <%= link_to "Sign Up", signup_path, :class => 'btn btn-small' %> or
        <%= link_to "Log In", login_path, :class => 'btn btn-small' %>
      <% end %>
    </div>
    <div style="text-align:left;padding:10px">
      <%= link_to "Musicians", users_path, :class => 'btn btn-primary' %>
      <%= link_to "Songs", songs_path, :class => 'btn btn-primary' %>
      <%= link_to "Tracks", tracks_path, :class => 'btn btn-primary' %>
    </div>
    <div style="text-align:left;padding:10px">
      <h3><%= link_to 'JamHub', root_path %></h3>
      <h4>Global music collaboration.</h4>
    </div>
    <br><br>
    <h3><%= yield :title %></h3>
    <%= yield %>
  </div>

</body>
</html>
